<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Sinatra Wiki<%= " - " + @page.name unless @page.name.nil? %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div id="head">
      <h1>Sinatra Wiki</h1>
      <a href="/" accesskey="h">Home</a>
    </div>
    <%= yield %>
    <div id="footer">
      powered by <a href="http://github.com/bomberstudios/sinatra_wiki/tree">Sinatra Wiki</a>, the minimal expression of a wiki thingie
    </div>
  </body>
</html>