<html>
  <head>
    <title>Sinatra Wiki<%= " - " + @page.name unless @page.name.nil? %></title>
  </head>
  <body>
    <div>
      <h1>Sinatra Wiki</h1>
      <a href="/" accesskey="h">Home</a>
    </div>
    <%= yield %>
  </body>
</html>